/*
#full_img{
  width: 815px;
  height: 716px;
  background: url(image.png) 0 0;
}

#logo{
  width: 352px;
  height: 104px;
  background: url(image.png) 0 0;
}
#cam_logo{
  width: 67px;
  height: 67px;
  background: url(image.png) -353 0;
}
*/
