* {
	margin: 0;
	padding: 0;
}

body {
	background: white;
	color: #000;
	font-family: 'Roboto', sans-serif;
}

#mensaje{
  border: 2px solid black;
  color: white;
  background-color: #000;
  text-align: center;
  margin-bottom: 20px;
}


.container {
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: (4, 1fr);
    grid-gap: 20px;
  }
.container header{
    display: grid;
    grid-template-columns: (3, 1fr);
    align-items: center;
    border-bottom: 0.5px solid grey;
}

header .header1 {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
  }
  
header .header2 {
    grid-column: 2;
    grid-row: 1;
    text-align: center;
}
header .header2 img {
  width: 25%;
  height: 25%;
}
  
header .header3 {
    grid-column: 3;
    grid-row: 1;
    text-align: center;
}

.container .article1{
    display: grid;
    grid-template-columns: (4, 1fr);
}

.container .article1 >a {
  padding-top: 5px;
  text-align: center;
}

.article1 .inicio {
    grid-column: 1;
    grid-row: 1;
  }
  
.article1 .micarrito {
    grid-column: 2;
    grid-row: 1;
  }
  
.article1 .recetas {
    grid-column: 3;
    grid-row: 1;
}
.article1 .contacto {
    grid-column: 4;
    grid-row: 1;
}
.container img{
  width: 100%;
  height: 50%;
}
#carrito{
  border: 1px solid black;
  width: 50%;
  text-align: center;
}

.container .article2 .productos >div{
  border-radius: 13;
  border:1px solid rgb(235, 232, 232); 
  display:block; 
  width:150px; 
  padding: 5px ;
  margin: 10px;
}
.container .article2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.container .article2 .informacion{
  grid-column: 1;
  text-align: center;
  
}
.container .article2 .productos{
  grid-column: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container .article2 .productos >div button{
  text-align: center;
  margin-top: 30px;
}


#footer{
  border: 2px solid black;
  color: white;
  background-color: #000;
  text-align: center;
  margin-bottom: 20px;
}

@media only screen and (width:500px) {
	body {
		background: orange;
	}
}

@media screen and (max-width: 650px){
	header .header1 {
        grid-column: 1;
        grid-row: 1;
        text-align: center;
      }
      
    header .header2 {
        grid-column: 2;
        grid-row: 1;
        text-align: center;
    }
    header .header2 img {
      width: 25%;
      height: 25%;
    }
      
    header .header3 {
        grid-column: 3;
        grid-row: 1;
        text-align: center;
    }
    
}

@media only screen and (width:800px) {
	body {
		background: blue;
	}
}